<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    <h1>Welcome to contact us Page</h1>
    <a href="/">Move to the home page</a>
    <form action="/contact-us" method="POST">
        <input type="text" placeholder="Enter Your Full Name/" name="name"/>
        <input type="email" placeholder="Enter Your Email" name="email"/>
        <input type="submit" value="Submit Details"/>
    </form>
</body>
</html>