<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="home.css" />
    <link rel="stylesheet" href="output.css" />
    <title>airbnb application</title>
  </head>
  <body>
    <h1 id="h1" class="text-center">Welcome to airbnb application/project</h1>
    <h1 class="text-red-600 text-3xl">Welcome to airbnb application/project</h1>
    <a href="/contact-us" class="text-blue-700 underline cursor:pointer"
      >Move to Contact Us Page</a
    >
  </body>
</html>
